@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #222831;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    overflow-x: hidden;
}

.counter-container{
    display: flex;
    align-items: center;

}

h1{
    color: #eeeeee;
    font-size: 4em;
}

.container{  
    padding: 20px;
    height: 25vh;
    width: 25vh;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 1em;
    margin: 40px;
}

.time{
    color: #eeeeee;
    font-weight: bold;
    font-size: 7em;
    margin: 0;
}

h2{
    margin: 0px;
    color: #eeeeee;
    font-size: 1.5em;
}

.second-container{
    border-color:#F05454;
}

.minute-container{
    border-color: #FF7B54;
}

.hour-container{
    border-color:#FFD369;
}

.day-container{
    border-color:#0bd80b;
}

.message{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #eeeeee;
}

.message > *{
    margin: 0px;
}

.message > div {
    font-weight: bold;
    font-size: 250px;
}

.msg{
    font-weight: bold;
    font-size: 100px;
    text-align: center;
}


/*  */

@keyframes grow{
    0%{
        transform: rotate(xx);
        opacity: 0;
        color: #fff;
        font-size: 50px;
        }
    50%{
        transform: rotate(xx);
        font-size: 50;
        }
    100%{
        transform: rotate(xx);
        opacity: 1;
        color: #e63946;
        font-size: 250;
        }
}

.message > div {
    animation: grow 1s forwards 0s ease-in;
}

@keyframes fadeIn{
    0%{
        transform: rotate(xx);
        opacity: 0;
        }
    53%{
        transform: rotate(xx);
        opacity: 0;
        font-size: 50;
        }
    91%{
        transform: rotate(xx);
        opacity: 1;
        font-size: 50;
        }
    100%{
        transform: rotate(xx);
        opacity: 1;
        font-size: 100;
        }
}

.msg{
    animation: fadeIn 1s forwards 0s ease-in;
}

.quote{
    font-size: 18px;
    padding-top: 50px;
    width: 50%;
}


@keyframes quote{
    0%{
        transform: rotate(xx);
        opacity: 0;
        }
    90%{
        opacity: 0;
        }
    100%{
        transform: rotate(xx);
        opacity: 1;
        }
}

.quote{
    animation: quote 1.25s forwards 0s linear;
}

.hidden{
    display:none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .message>div{
        font-size: 7em;
    }
    .msg{
        font-size: 2em;
    }
    .quote{
        width: 85vw;
    }

    .container>h2{
        padding: 0;
    }
    .counter-container{
        flex-direction: column;
    }

    .time{
        font-size: 2em;
    }
}

/*  */

.firework {
	position: absolute;
}
.explosion {
	position: absolute;
	left: -2px;
	bottom: 0;
	width: 4px;
	height: 80px;
	transform-origin: 50% 100%;
	/* background-color: rgba(0,0,0,.2); */
	overflow: hidden;
}
.explosion:nth-child(1) {
	transform: rotate(0deg) translateY(-15px);
}
.explosion:nth-child(2) {
	transform: rotate(30deg) translateY(-15px);
}
.explosion:nth-child(3) {
	transform: rotate(60deg) translateY(-15px);
}
.explosion:nth-child(4) {
	transform: rotate(90deg) translateY(-15px);
}
.explosion:nth-child(5) {
	transform: rotate(120deg) translateY(-15px);
}
.explosion:nth-child(6) {
	transform: rotate(150deg) translateY(-15px);
}
.explosion:nth-child(7) {
	transform: rotate(180deg) translateY(-15px);
}
.explosion:nth-child(8) {
	transform: rotate(210deg) translateY(-15px);
}
.explosion:nth-child(9) {
	transform: rotate(240deg) translateY(-15px);
}
.explosion:nth-child(10) {
	transform: rotate(270deg) translateY(-15px);
}
.explosion:nth-child(11) {
	transform: rotate(300deg) translateY(-15px);
}
.explosion:nth-child(12) {
	transform: rotate(330deg) translateY(-15px);
}

.explosion::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 40px;
	background-color: #f5cf52;
}
@keyframes explosion {
	0% {
		top: 100%;
	}
	33%, 100% {
		top: -50%;
	}
}

#firework1 {
	left: 40%;
	top: 30%;
	transform: scale(1);
}
#firework1 .explosion::before {
	animation: explosion 5s ease-in-out infinite;
}

#firework2 {
	left: 40%;
	top: 45%;
	transform: scale(.7);
}
#firework2 .explosion::before {
	animation: explosion 5s .6s ease-in-out infinite;
}

#firework3 {
	left: 80%;
	top: 65%;
	transform: scale(.4);
}
#firework3 .explosion::before {
	animation: explosion 5s .4s ease-in-out infinite;
}
